body, input, button {
	font-family: 'Open Sans', sans-serif;
}

.holds-calculator {
	/*width:470px;*/
	width: 80%;
}

.step-content {
	/*width:100%;*/
	padding: 1.5em;
/*	padding-top: 1.5em;
	padding-bottom: 1.5em;*/
	background-color:#00314e;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
}

button.next, button.redo {
	color:#fff;
	background-color: #ea3936;
	box-shadow: 0 0.2em 0 #c61728;
	border:none;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0.75em;
}

ul.calculator-steps {
	list-style: none;
}

li.step {
	display:none;
}

li.step.result .step-content {
	background-color: #2597d2;
}

li.step.completed .step-content {
	background-color:#8e9093;
	padding-top: 1.4em;
	padding-bottom: 1.45em;
}

li.step.completed .step-content p {
	opacity:0.5;
}


li.step.completed .step-content button, li.step.completed .fa-question-circle, li.step.completed .fa-arrow-circle-left {
	display:none;
}

.fa-question-circle {
	display:inline;
}

.fa-arrow-circle-left {
	margin-right: 1em;
	color:#ea3936;
}

.tip {
	display:none;
	position: relative;
	z-index:10;
	margin-top: 1em;
	background-color: #ededee;
	padding:0.5em;
	color:#00314e;
	margin-bottom: 1em;
	font-size: 12px;
	text-transform: none;
}
.article-content .holds-calculator ul {
	padding: 0;
}
.article-content .holds-calculator ul li::before {
	content: "";
}
 .article-content .holds-calculator p {
	color: #fff;
}
#endval::before {
	content: "$ ";
}


@media screen and (max-width: 1013px) {

	.holds-calculator {
		width: 90%;
	}

	.step-content p, .step-content input[type="text"],.step-content select, .step-content textarea{
		font-size: 14px;
	}
}

@media screen and (max-width: 850px) {
	

	.step-content p, .step-content input[type="text"],.step-content select, .step-content textarea{
		font-size: 13px;
	}
	.step-content input[type="text"],.step-content select, .step-content textarea{
		padding: 5px 5px 2px;
		height: auto;
	}
	.article-content .holds-calculator li {
		margin: 0;
	}
}

@media screen and (max-width: 595px) {

	.holds-calculator {
		width:100%;
	}

	.step-content p, .step-content input[type="text"],.step-content select, .step-content textarea{
		font-size: 11px;
	}
	.step-content input[type="text"],.step-content select, .step-content textarea{
		padding: 0px 5px 2px;
		height: 1.8em;
	}
	.article-content .holds-calculator li {
		margin: 0;
	}

}
